@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F6F2;
  color: #1B2028;
}

::selection {
  background-color: #F5EBD9;
  color: #1B2028;
}
